
<form>
<div class="row m-1">
  <div class="col-3">
  <h5>Les grands-voiles</h5>
    <label for="gvl" class="form-label">grand-voile lattée</label>
    <div class="input-group">
      <input type="text" class="form-control" (input)="updateValue($event)" id="gvl" [placeholder]="monBateau.gvl">
      <span class="input-group-text">m<sup>2</sup></span>
    </div>
    <label for="gvsl" class="form-label">grand-voile semi-lattée</label>
    <div class="input-group">
      <input type="text" class="form-control" (input)="updateValue($event)" id="gvsl"  [placeholder]="monBateau.gvsl">
      <span class="input-group-text">m<sup>2</sup></span>
    </div>
    <label for="gve" class="form-label">grand-voile sur enrouleur</label>
    <div class="input-group">
      <input type="text" class="form-control" id="gve" (input)="updateValue($event)" [placeholder]="monBateau.gve" >
      <span class="input-group-text">m<sup>2</sup></span>
    </div>
  </div>
  <div class="col-3">
  <h5>Les voiles de portant</h5>
    <label for="ss" class="form-label">spi symétrique</label>
    <div class="input-group">
      <input type="text" class="form-control" id="ss" (input)="updateValue($event)" [placeholder]="monBateau.ss" >
      <span class="input-group-text">m<sup>2</sup></span>
    </div>
    <label for="sa" class="form-label">spi asymétrique</label>
    <div class="input-group">
      <input type="text" class="form-control" id="sa" (input)="updateValue($event)" [placeholder]="monBateau.sa" >
      <span class="input-group-text">m<sup>2</sup></span>
    </div>
    <label for="gs" class="form-label">gennaker / code 0</label>
    <div class="input-group">
      <input type="text" class="form-control" id="gs" (input)="updateValue($event)" [placeholder]="monBateau.gs" >
      <span class="input-group-text">m<sup>2</sup></span>
    </div>
  </div>
  <div class="col-3">
  <h5>Les voiles d'avant</h5>
    <label for="gm" class="form-label">génois sur mousquetons</label>
    <div class="input-group">
      <input type="text" class="form-control" id="gm" (input)="updateValue($event)" [placeholder]="monBateau.gm" >
      <span class="input-group-text">m<sup>2</sup></span>
    </div>
    <label for="ge" class="form-label">génois sur enrouleur</label>
    <div class="input-group">
      <input type="text" class="form-control" id="ge" (input)="updateValue($event)" [placeholder]="monBateau.ge" >
      <span class="input-group-text">m<sup>2</sup></span>
    </div>
  </div>
  <div class="col-3">
  <h5>Accessoires</h5>
          <label for="access" class="form-label">longueur de la bôme</label>
          <div class="input-group">
            <input type="text" class="form-control" id="access" (input)="updateValue($event)" [placeholder]="monBateau.access" >
    <span class="input-group-text">m<sup>2</sup></span>
          </div>
        </div>
  <div class="col-md-12 text-center">
    <button type="button" class="btn btn-sm btn-warning m-3" (click)="checkInputs()">valider mes mesures</button>
  </div>
</div>
</form>